<a href="https://colab.research.google.com/github/Weydel/Apache-Spark/blob/main/Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `Python Basic Programming Assignment 10`

### 1. Write a Python program to find sum of elements in list?
------------------------------------

In [23]:
def sum_numbers (numbers_list):
    total = 0
    for num in numbers_list:
        total += num
    return total

try:
    # Example list of numbers
    numbers = [2, 4, 1, 5, 6, 7]

    # Call the function and print the result
    total_sum = sum_numbers(numbers)

    print("The sum of the numbers is: ", total_sum)
except Exception as err:
    print("Failed Execution! ", str(err))

The sum of the numbers is:  25

### 2. Write a Python program to  Multiply all numbers in the list?
------------------------------------

In [24]:
def multiply_numbers(numbers_list):
    result = 1
    for num in numbers_list:
        result *= num
    return result

# Example list of numbers
numbers = [2, 4, 1, 5, 6, 7]

# Call the function and print the result
product = multiply_numbers(numbers)
print("The product of the numbers is:", product)

The product of the numbers is: 1680

### 3. Write a Python program to find smallest number in a list?
---------------------------------

In [29]:
def small_number(number_list):
    minimum = number_list[0]
    for i in number_list:
      if i < minimum:
          minimum = i
    return minimum

# Example list of numbers
numbers = [2, 0, 1, 1235, 6, -7123]

# Call the function and print the result
smallest_num = small_number(numbers)
print("The Smallest number in the list is: ", smallest_num)

The Smallest number in the list is:  -7123

### 4. Write a Python program to find largest number in a list?
------------------------------------

In [32]:
def big_num(number_list):
    maximum = number_list[0]
    for i in number_list:
      if i > maximum:
          maximum = i
    return maximum

# Example list of numbers
numbers = [2, 0, 1, 1235, 6, -7123]

# Call the function and print the result
largest_num = big_num(numbers)
print("The Largest number in the list is: ", largest_num)

The Largest number in the list is:  1235

### 5. Write a Python program to find second largest number in a list?
-------------------------------

In [41]:
numbers = [2, 0, 1, 1235, 6, -7123]
numbers.sort(reverse=True)

print("The Second Largest Number is: ", numbers[1])

The Second Largest Number is:  6

### 6. Write a Python program to find N largest elements from a list?
----------------------

In [57]:
def find_n_largest_elements(lst, n):
    if n > len(lst):
        return "N is larger than the list size"

    lst.sort(reverse=True)
    n_largest = lst[n-1]
    return n_largest

try:
    # Example usage
    input_list = [23, 45, 12, 6, 67, 34, 89, 54, 21]
    N = 9
    result = find_n_largest_elements(input_list, N)
    print(f"The {N} largest elements is: {result}")
except Exception as err:
    print("Failed Execution!", str(err))

The 9 largest elements is: 6

### 7. Write a Python program to print even numbers in a list?
----------------------

In [66]:
def even_num(lst):
    for i in lst:
      if i % 2 == 0:
        print(i)

try:
    # Example usage
    num_lst = [23, 45, 12, 6, 67, 34, 89, 54, 21]

    # Call the function and print the result
    print("Even numbers are: ")
    even_num(num_lst)
except Exception as err:
    print("Failed Execution!", str(err))

Even numbers are:
12
6
34
54

### 8. Write a Python program to print odd numbers in a List?
---------------------------

In [72]:
def odd_num(lst):
    for i in lst:
      if i % 2 == 1:
        print(i)

try:
    # Example usage
    num_lst = [23, 45, 12, 6, 67, 34, 89, 54, 21]

    # Call the function and print the result
    print("Odd numbers are: ")
    even_num(num_lst)
except Exception as err:
    print("Failed Execution!", str(err))

Odd numbers are:
23
45
67
89
21

### 9. Write a Python program to Remove empty List from List?
---------------------------------

In [71]:
def remove_empty_lists(num_lst):
    return [sublist for sublist in num_lst if sublist]

try:
    # Example usage
    original_list = [1, [], 3, [], [], 6, 7, [], 9, 12, 31, [1,2, -23] , [1]]
    result_list = remove_empty_lists(original_list)
    print("Original List:", original_list)
    print("List after removing empty lists:", result_list)
except Exception as err:
    print("Failed Execution!", str(err))

Original List: [1, [], 3, [], [], 6, 7, [], 9, 12, 31, [1, 2, -23], [1]]
List after removing empty lists: [1, 3, 6, 7, 9, 12, 31, [1, 2, -23], [1]]

### 10. Write a Python program for Cloning or Copying a list?
-------------------

In [78]:
def clone_list(input_list):
    # Using the slice operator to create a new list with the same elements
    copy_list = []
    for i in input_list:
        copy_list.append(i)

    return copy_list

try:
    # Original list
    original_list = [2,1, 31, 3, 412, 3, 4667, [2,3,1]]

    # Cloning the list
    copy_list = clone_list(original_list)

    # Printing the original and cloned lists
    print("Original List:", original_list)
    print("Cloned List:", copy_list)
except Exception as err:
    print("Failed Execution!", str(err))

Original List: [2, 1, 31, 3, 412, 3, 4667, [2, 3, 1]]
Cloned List: [2, 1, 31, 3, 412, 3, 4667, [2, 3, 1]]

### 11. Write a Python program to Count occurrences of an element in a list?
----------------------

In [9]:
def occurrences(lst, element):
    count = 0
    for i in lst:
        if i == element:
            count += 1

    return count

try:
    # Example usage
    l = [1,1,1, 3, 4, 1, 7, 8, 6,6,2,1]
    N = 1
    #call the function and print the result
    occurrences = occurrences(l, N)

    print("Occurence of Element", N, "is:" , occurrences)
except Exception as err:
    print("Failed Execution!", str(err))

Occurence of Element 1 is: 5